<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3000">
        <%#= image_tag "logo.png", :style => "width:70px;height:80px;"%>
        LOGO
      </a>
    </div>
  </div>
</nav>